.wrapper, body, html{
    background: #EFCC19;
}
.wrapper{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 640px){
    .wrapper{
        flex-direction: column;
    }
}
.square{
    position: relative;
    background: #9aa38e;
    border: 1px solid #111;
    z-index: 10;
    border-radius: 2px;
}
.square::after{
    content: '';
    width: 70%;
    height: 70%;
    background: #111;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.field{
    border: 2px solid #111;
    background: #A1AD89;
    display: grid;
    width: fit-content;
    margin: 0 auto 30px;
    position: relative;
}
.shadow-square{
    opacity: 0.09;
    z-index: 1;
}

.vanishing-square{
    border: none;
}
.vanishing-square::after{
    background: #A1AD89;
    opacity: 1;
}



/* Control */
.control{
    display: none;
    background: #EFCC19;
    margin: 0 5px;
    min-width: 260px;
    max-height: 250px;
    position: relative;
}
#start, .arrows>*{
    border-radius: 100%;
    background: #5A65F1;
    box-shadow: inset 0 3px 5px rgba(35,46,180,.5), inset 0 2px 5px rgba(255,255,255,.9), inset 0 -2px 5px rgba(0,0,0,.6), 0 2px 5px rgba(0,0,0,.3);
}
#start:active, .arrows>*:active{
    box-shadow: inset 0 3px 5px rgba(35,46,180,.4), inset 0 -1px 5px rgba(255,255,255,.7), inset 0 1px 5px rgba(0,0,0,.5);
}
#start{
    width: 90px;
    height: 90px;
}
.arrows>*{
    width: 60px;
    height: 60px;
}
.arrows{
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    /* k=10 */
    grid-template: repeat(28, 6px) / repeat(28, 6px);
}
#up{
    grid-area: 1/10/11/20;
}
#left{
    grid-area: 10/1/20/11;
}
#right{
    grid-area: 10/19/20/28;
}
#down{
    grid-area: 19/10/28/20;
}
#center{
    background: none;
    border-radius: 0;
    width: unset;
    height: unset;
    box-shadow: none;
    grid-area: 11/11/19/19;
    padding: 0;
    z-index: 10;
    position: relative;
}
#center>*{
    width: 0;
    height: 0;
    border: 6px solid transparent;
    position: absolute;
}
#center>.up{
    border-bottom: 10px solid black;
    border-top-width: 3px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#center>.left{
    border-right: 10px solid black;
    border-left-width: 3px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#center>.right{
    border-left: 10px solid black;
    border-right-width: 3px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#center>.down{
    border-top: 10px solid black;
    border-bottom-width: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



.pause, .game-over, .start{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    z-index: 100;
    text-shadow: 0 0 10px  #b9e0a9;
}
.start{
    display: block;
}
